In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
dates = pd.date_range('20130101', periods=6)

In [4]:
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [5]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))

In [6]:
df

                   A         B         C         D
2013-01-01 -0.140671 -0.929055  1.426225 -1.509292
2013-01-02 -0.416615  1.397287 -0.223440 -0.522955
2013-01-03 -2.134055  0.019609  0.036581 -0.173130
2013-01-04  0.105676 -2.124049  1.291324  0.464055
2013-01-05  1.559166 -0.486028  1.497898 -0.993655
2013-01-06  1.377792  0.864626 -0.775115 -1.603238

In [7]:
df.T

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A   -0.140671   -0.416615   -2.134055    0.105676    1.559166    1.377792
B   -0.929055    1.397287    0.019609   -2.124049   -0.486028    0.864626
C    1.426225   -0.223440    0.036581    1.291324    1.497898   -0.775115
D   -1.509292   -0.522955   -0.173130    0.464055   -0.993655   -1.603238

In [8]:
df.head()

                   A         B         C         D
2013-01-01 -0.140671 -0.929055  1.426225 -1.509292
2013-01-02 -0.416615  1.397287 -0.223440 -0.522955
2013-01-03 -2.134055  0.019609  0.036581 -0.173130
2013-01-04  0.105676 -2.124049  1.291324  0.464055
2013-01-05  1.559166 -0.486028  1.497898 -0.993655

In [9]:
type(np.asarray(df.to_dense()))

numpy.ndarray

In [10]:
np.asarray(df.to_dense())

array([[-0.14067073, -0.92905532,  1.42622478, -1.50929151],
       [-0.41661534,  1.39728735, -0.22343988, -0.52295456],
       [-2.13405498,  0.01960893,  0.03658054, -0.17312992],
       [ 0.10567612, -2.12404866,  1.29132352,  0.46405454],
       [ 1.55916561, -0.48602805,  1.49789758, -0.99365503],
       [ 1.37779206,  0.86462588, -0.77511489, -1.60323834]])

In [11]:
df.values

array([[-0.14067073, -0.92905532,  1.42622478, -1.50929151],
       [-0.41661534,  1.39728735, -0.22343988, -0.52295456],
       [-2.13405498,  0.01960893,  0.03658054, -0.17312992],
       [ 0.10567612, -2.12404866,  1.29132352,  0.46405454],
       [ 1.55916561, -0.48602805,  1.49789758, -0.99365503],
       [ 1.37779206,  0.86462588, -0.77511489, -1.60323834]])

In [12]:
df

                   A         B         C         D
2013-01-01 -0.140671 -0.929055  1.426225 -1.509292
2013-01-02 -0.416615  1.397287 -0.223440 -0.522955
2013-01-03 -2.134055  0.019609  0.036581 -0.173130
2013-01-04  0.105676 -2.124049  1.291324  0.464055
2013-01-05  1.559166 -0.486028  1.497898 -0.993655
2013-01-06  1.377792  0.864626 -0.775115 -1.603238

In [13]:
print(np.__version__)

1.15.4

In [14]:
z = np.zeros(10)

In [15]:
z

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [16]:
z[4] = 1

In [17]:
z

array([0., 0., 0., 0., 1., 0., 0., 0., 0., 0.])

In [18]:
np.arange(10,50)

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26,
       27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43,
       44, 45, 46, 47, 48, 49])

In [19]:
j = np.arange(50)

In [20]:
j[::-1]

array([49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33,
       32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16,
       15, 14, 13, 12, 11, 10,  9,  8,  7,  6,  5,  4,  3,  2,  1,  0])

In [21]:
l = np.arange(9).reshape(3,3)

In [22]:
l

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [23]:
dato = '12-==00)()=009090¡''¡c'

In [24]:
dato

'12-==00)()=009090¡¡c'

In [25]:
import re

In [26]:
import re
dato = '12-345///6789-xññ'
re.sub('[^A-Za-z0-9]+', '', dato)

'123456789x'

In [27]:
nz = np.nonzero([1,2,0,0,4,0])

In [28]:
nz

(array([0, 1, 4], dtype=int64),)

In [29]:
np.eye(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [31]:
import matplotlib.pyplot  as plt
import time

a = 0

tablero = np.arange(100).reshape(10,10)
listado = np.random.randint(200, size=10)
listadoOk = []

for i in range(len(tablero)):
    for j in tablero[i]:
        if listado[a] in tablero[i]:
            listadoOk.append(listado[a])
        a += 1
        if a > 9:
            a = 0
            
totalDatos = len(listadoOk)
fechas = pd.date_range(time.strftime('%Y %m %d'), periods = totalDatos)
fechas = fechas.format(formatter=lambda x: x.strftime('%Y%m%d'))
fechasDato = []

h = 0

for p in (fechas):
    fechasDato.append( [ fechas[h], listadoOk[h] ])
    h += 1
    
fechasDato

[['20190224', 3], ['20190225', 41], ['20190226', 61], ['20190227', 98]]